body{
  font-family: "Acme", sans-serif;
  font-size: 18px;
  color: darkblue;
  background-image: url(https://images5.alphacoders.com/300/thumb-1920-300757.jpg);
}

h1{
  font-family: "Lobster", sans-serif;
  color: darkblue;
  font-size:36px;
}

h3{
  color: palevioletred;
  font-size: 48px;
  position: relative;
  margin: -54px;
}

.image{
  left:20px;
  float: left;
  margin-left: 60px;
  margin-right: 50px;
  padding: 20px 20px 20px 20px;
  text-align: center;
}